.registerContainer {
    /* border: 1px solid black; */
    /* background-color: blue; */
    width: 500px;
    height: 450px;
    margin-top: 100px;
}

#name {
    width: 50%;
    margin-left: 110px;
    border-radius: 2px;
    border-bottom: 2px solid gray;
    border-top: none;
    border-left: none;
    border-right: none; 
}

#phoneNo {
    width: 50%;
    margin-left: 110px;
    border-radius: 2px;
    border-bottom: 2px solid gray;
    border-top: none;
    border-left: none;
    border-right: none; 
}

#repeatPassword {
    width: 50%;
    margin-left: 110px;
    border-radius: 2px;
    border-bottom: 2px solid gray;
    border-top: none;
    border-left: none;
    border-right: none; 
}

#btnRegister {
    margin-right: 30px;
    border: 1px solid #3498db;
    background: none;
    border-radius: 1px;
    transition: 0.8s;
    position: relative;
    overflow: hidden; 
    outline: none;
}

#btnRegister:hover {
    color: #fff;
  }
  
  
Button::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
  
#btnRegister::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
  
#btnRegister:hover::before {
  height: 180%;
}