.Navbar {
  height: 80px;
}

.adiv {
  background-color: gray;
}

#signin-btn {
  border: none; 
  color: black;
  margin-left: 750px;
  padding: 10px;
}

#signin-link {
  text-decoration: none;
  color: black;
  margin-left: 50px;
  padding: 5px;
}

#nav-text {
  padding: 10px;
}
