.Navbar {
  height: 80px;
  font-family: sans-serif;
}

.adiv {
  background-color: gray;
}

#signin-btn {
  border: none; 
  color: black;
  margin-left: 750px;
  padding: 10px;
}

.link {
  /* text-decoration: none; */
  font-family: sans-serif;
  font-size: 18px;
  color: black;
  margin-left: 20px;
  padding: 5px;
  display: inline;
}

.link:hover {
  text-decoration: none;
  transition: 0.3s;
  color: aliceblue;
}
.active {
  color: aliceblue; 
}

#nav-text {
  padding: 10px;
}

