.Navbar {
  height: 80px;
  font-family: sans-serif;
}

.link-login {
  font-family: sans-serif;
  letter-spacing: 0.2px;
  font-size: 17px;
  color: black;
  position: absolute;
  left: 1070px;
  top: 25px;
  padding: 5px;
  display: inline-block;
  margin: 2px;  
}

.link-register {
  font-family: sans-serif;
  letter-spacing: 0.2px;
  font-size: 17px;
  color: black;
  position: absolute;
  left: 1150px;
  padding: 5px;
  display: inline;
  margin: 2px;
  top: 25px;
  /* border: 2px solid white; */
}

.link-home {
  font-family: sans-serif;
  letter-spacing: 0.2px;
  font-size: 17px;
  color: black;
  position: absolute;
  left: 100px;
  top: 25px;
  display: inline;
}

.link-login:hover {
  text-decoration: none;
  transition: 0.3s;
  color: white;
}

.link-register:hover {
  text-decoration: none;
  transition: 0.3s;
  color: white;
}

.link-home:hover {
  text-decoration: none;
  transition: 0.3s;
  color: white;
}

.active {
  color: white; 
  padding-bottom: 5px;
  border-bottom: 3px solid white;
}

.logout-btn {
  border: none; 
  color: black;
  position: absolute;
  left: 1150px;
  border: 1px solid white;
  border-radius: 0px;
  color: white;
  top: 25px;
  transition: 0.4s;
}

.logout-btn:hover {
  color: black;
  background-color: white;
  border: none;
}

.nav-text {
  position: absolute;
  left: 522px;
  top: 25px;
  border-bottom: 2px solid white;
}