.Login {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 40px rgba(0,0,0,0.57);
  width: 340px;
  height: 400px;
  margin: auto;
  margin-top: 23px;
  background: white;
  border-radius: 0px;
  font-family: sans-serif;
}

.header-in {
  font-family: sans-serif;
  margin: auto;
  margin-top: 35px;
  font-family: sans-serif;
  font-weight: 900;
}

.loginForm {
  margin-top: 60px;
  text-align: center;
  margin-top: 80px;
}

#email {
  width: 250px;
  margin: auto;
  border-radius: 0px; 
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#password {
  width: 250px;
  margin: auto;
  border-radius: 0px;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#btn-login {
  margin: auto;
  margin-top: 20px;
  border-radius: 2px; 
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 1px;
  transition: 0.6s;
  letter-spacing: 0.8px;
  box-shadow: none;
}

#btn-login:hover {
  color: #404040;
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
  background: none;
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.6s ease 0s;  
}