.Members {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  position: relative;
  top: 20px;
  width: 800px;
  height: 250px;
  background-color: white;   
}

.card-members {
  margin: auto;
  position: relative;
  top: 35px;
  border: 100px;    
}

.adults {
  width: 100px;
  text-align: center;
  margin-left: 56px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
}

.children {
  width: 100px;
  text-align: center;
  margin-left: 56px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px
}

.infants {
  width: 100px;
  text-align: center;
  margin-left: 56px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px
}

.members-btn  {
  margin: auto;
  position: relative;
  top: 55px;
  border-radius: 2px; 
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 1px;
  transition: 0.6s;
  letter-spacing: 0.8px;
  box-shadow: none;
}

.members-btn:hover {
  color: #404040;
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
  background: none;
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.6s ease 0s;  
}